Address.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jsu" targetNamespace="http://jsu" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name="Address">
<xs:sequence>
<xs:element name="line1" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="line2" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="postcode" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="type" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Address" type="tns:Address"/>
</xs:schema>