examples/CustomerWS.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jsu" targetNamespace="http://jsu" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name="CustomerWS">
<xs:sequence>
<xs:element name="name" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="age" nillable="false" type="xs:integer" minOccurs="0" maxOccurs="1"/>
<xs:element name="homeAddress" nillable="true" type="tns:AddressWS" minOccurs="0" maxOccurs="1"/>
<xs:element name="otherAddresses" nillable="true" type="tns:AddressWS" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="internalRef" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="AddressWS">
<xs:sequence>
<xs:element name="line1" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="line2" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="line3" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="postcode" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="type" nillable="false" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:element name="CustomerWS" type="tns:CustomerWS"/>
</xs:schema>
